streamlit
numpy #>=1.23.5,<2.0.0
opencv-python-headless
tensorflow #==2.16.1
joblib
nibabel
matplotlib
Pillow
#still don't work: os, tempfile, tensorflow.keras.layers

#streamlit
#numpy
#opencv-python
#tensorflow

#not working 
#joblib
#nibabel 
#matplotlib.pylab
#tensorflow.keras.layers
#tempfile
#numpy
#os
#PIL
