streamlit
numpy==2.0.0
opencv-python
tensorflow==2.16.1
joblib
nibabel
matplotlib
Pillow

#streamlit
#numpy
#opencv-python
#tensorflow

#not working 
#joblib
#nibabel 
#matplotlib.pylab
#tensorflow.keras.layers
#tempfile
#numpy
#os
#PIL
